name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
    - name: Get Location 
      run: echo $PWD
    - name: Get files
      run: cd App && echo | ls
    - name: Grant execute permission for gradlew
      run: chmod +x App/gradlew
    - name: Build with Gradle
      run: cd App && ./gradlew build
    - name: Lint report
      run: cd App && ./gradlew lintDebug
    - name: Upload HTML lint report
      uses: actions/upload-artifact@v3
      with:
        name: lint-report.html
        path: App/app/build/reports/lint-results-debug.html
  instrumentation-test:
    needs: [lint]
    runs-on: macos-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Grant execute permission for gradlew
        run: chmod +x App/gradlew
      - name: Shut down any hanging ADB server
        run: adb kill-server
      - name: Run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: cd App && ./gradlew cAT 
      - name: Upload test report
        uses: actions/upload-artifact@v3
        with:
          name: instrumentation-test-report.html
          path: App/app/build/reports/androidTests/connected/index.html
